
.navbar {
background-color: rgb(221, 221, 221);
}

.navBrand {
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 15px !important;  
}

.navBrand:hover {
    color: rgb(77, 77, 77); 
}

.homeLoginLink, .createAdLink {
    color: black;
    font-weight: bold;
}

.createAdLink:hover, .homeLoginLink:hover {
    text-decoration: none;
    color: gray;
}